{% if suffix is not empty %}
    {% set prefix = record.name|slice(0, max(record.name|length - suffix|length - 1, 0)) %}
{% else %}
    {% set prefix = record.name %}
{% endif %}

{% for data in record.records %}
    {% set rdata = data.rdata %}

    <tr{% if class is defined %} class="{{ class|e }}"{% endif %}>
        <td class="with-suffix">
            <input type="text" name="records[][name]" value="{{ prefix|e }}" />

            {% if suffix is not empty %}
                <div class="suffix">.{{ suffix|e }}</div>
            {% endif %}

            <input type="hidden" name="records[][type]" value="SOA" />
        </td>

        <td>
            <select name="records[][mname]" class="editable-dropdown">
                {% if not rdata.mname %}
                    <option value="">?</option>
                {% endif %}
                
                {% if rdata.mname is defined and rdata.mname not in nameservers %}
                    <option value="{{ rdata.mname|e }}" selected="selected">{{ rdata.mname|e }}</option>
                {% endif %}
                
                {% for nameserver in nameservers %}
                    <option value="{{ nameserver|e }}"{% if rdata.mname == nameserver %} selected="selected"{% endif %}>{{ nameserver|e }}</option>
                {% endfor %}
            </select>
        </td>

        <td>
            <input type="text" name="records[][rname]" value="{{ rdata.rname|e }}" />
        </td>

        <td>
            <input type="text" name="records[][serial]" value="{{ rdata.serial|default(parent.serial)|e }}" readonly="readonly" />
        </td>

        <td>
            {% if config.records.ttl is iterable %}
                <select name="records[][refresh]" class="editable-dropdown">
                    {% if not rdata.refresh %}
                        <option value="">?</option>
                    {% endif %}
                    
                    {% if rdata.refresh is defined and rdata.refresh not in config.records.ttl|keys %}
                        <option value="{{ rdata.refresh|e }}" selected="selected">{{ rdata.refresh|e }} sec</option>
                    {% endif %}
                    
                    {% for ttl, title in config.records.ttl %}
                        <option value="{{ ttl|e }}"{% if rdata.refresh == ttl %} selected="selected"{% endif %}>{{ title|e }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text" name="records[][refresh]" value="{{ rdata.refresh|e }}" />
            {% endif %}
        </td>

        <td>
            {% if config.records.ttl is iterable %}
                <select name="records[][retry]" class="editable-dropdown">
                    {% if not rdata.retry %}
                        <option value="">?</option>
                    {% endif %}
                    
                    {% if rdata.retry is defined and rdata.retry not in config.records.ttl|keys %}
                        <option value="{{ rdata.retry|e }}" selected="selected">{{ rdata.retry|e }} sec</option>
                    {% endif %}
                    
                    {% for ttl, title in config.records.ttl %}
                        <option value="{{ ttl|e }}"{% if rdata.retry == ttl %} selected="selected"{% endif %}>{{ title|e }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text" name="records[][retry]" value="{{ rdata.retry|e }}" />
            {% endif %}
        </td>

        <td>
            {% if config.records.ttl is iterable %}
                <select name="records[][expire]" class="editable-dropdown">
                    {% if not rdata.expire %}
                        <option value="">?</option>
                    {% endif %}
                    
                    {% if rdata.expire is defined and rdata.expire not in config.records.ttl|keys %}
                        <option value="{{ rdata.expire|e }}" selected="selected">{{ rdata.expire|e }} sec</option>
                    {% endif %}
                    
                    {% for ttl, title in config.records.ttl %}
                        <option value="{{ ttl|e }}"{% if rdata.expire == ttl %} selected="selected"{% endif %}>{{ title|e }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text" name="records[][expire]" value="{{ rdata.expire|e }}" />
            {% endif %}
        </td>

        <td>
            {% if config.records.ttl is iterable %}
                <select name="records[][minimum]" class="editable-dropdown">
                    {% if not rdata.minimum %}
                        <option value="">?</option>
                    {% endif %}
                    
                    {% if rdata.minimum is defined and rdata.minimum not in config.records.ttl|keys %}
                        <option value="{{ rdata.minimum|e }}" selected="selected">{{ rdata.minimum|e }} sec</option>
                    {% endif %}
                    
                    {% for ttl, title in config.records.ttl %}
                        <option value="{{ ttl|e }}"{% if rdata.minimum == ttl %} selected="selected"{% endif %}>{{ title|e }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text" name="records[][minimum]" value="{{ rdata.minimum|e }}" />
            {% endif %}
        </td>

        <td>
            {% if config.records.ttl is iterable %}
                <select name="records[][ttl]" class="editable-dropdown">
                    {% if not record.ttl %}
                        <option value="">?</option>
                    {% endif %}
                    
                    {% if record.ttl is defined and record.ttl not in config.records.ttl|keys %}
                        <option value="{{ record.ttl|e }}" selected="selected">{{ record.ttl|e }} sec</option>
                    {% endif %}
                    
                    {% for ttl, title in config.records.ttl %}
                        <option value="{{ ttl|e }}"{% if record.ttl == ttl %} selected="selected"{% endif %}>{{ title|e }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text" name="records[][ttl]" value="{{ record.ttl|e }}" />
            {% endif %}
        </td>
    </tr>
{% endfor %}
